{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="singleProduct my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <h3 class="singleProduct__subtitle">Tags</h3>
                <div class="singleProduct__toolStack">
                    {% for tag in product.tags.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{tag}}</small>
                    </span>
                    {% endfor %}

                </div>

                {% if product.source_link %}
                <a class="singleProduct__liveLink" href="{{product.source_link}}" target="_blank"><i
                        class="im im-external-link"></i>Source
                    Code
                </a>
                {% endif %}

                {% if product.demo_link %}
                <a class="singleProduct__liveLink" href="{{product.source_link}}" target="_blank"><i
                        class="im im-external-link"></i>Live Demo

                </a>
                {% endif %}

            </div>
            <div class="column column--2of3">
                <img class="singleProduct__preview" src="{{ product.imageURL }}" alt="portfolio thumbnail" />
                <a href="{% url 'user-profile' product.owner.id  %}"
                    class="singleProduct__developer">{{product.owner.name}}</a>
                <h2 class="singleProduct__title">{{product.title}}</h2>
                <h3 class="singleProduct__subtitle">About the Product</h3>
                <div class="singleProduct__info">
                    {{product.description}}
                </div>
                <div class="comments">
                    <h3 class="singleProduct__subtitle">Feedback</h3>
                    <h5 class="product--rating">
                        {{product.vote_ratio}}% Positive Feedback ({{product.vote_total}}
                        Vote{{product.vote_total|pluralize:"s"}})
                    </h5>

                    {% if request.user.profile.id in product.reviewers %}
                    <p>You have already submitted your review for this product</p>

                    {% elif request.user.profile == product.owner %}
                    <p>You cannot review your own product</p>

                    {% elif request.user.is_authenticated %}
                    <form class="form" action="{% url 'product' product.id %}" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form__field">
                            <label for="formInput#textarea">{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}
                        <input class="btn btn--sub btn--lg" type="submit" value="Add Review" />
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}">Please login to leave a review</a>
                    {% endif %}

                    <div class="commentList">
                        {% for review in product.review_set.all %}
                        {% if review.body %}
                        <div class="comment">
                            <a href="{% url 'user-profile' review.owner.id  %}">
                                <img class="avatar avatar--md" src="{{review.owner.profile_image.url}}" alt="user" />
                            </a>


                            <div class="comment__details">
                                <a href="{% url 'user-profile' review.owner.id  %}"
                                    class="comment__author">{{review.owner.name}}</a>
                                <p class="comment__info">{{review.body|linebreaksbr}}</p>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}